<!-- Modal -->
<div class="modal fade" id="create_leave_request_model" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Leave</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                <form th:object="${leaveRequest}" th:action="@{/leave}" method="post">
                    <input type="hidden" th:field="*{id}" class="form-control"/>


                    <div class="form-group">
                        <label  class="form-label">Start Date:</label>
                        <input  type="date"  th:field="*{startDate}"  class="form-control" th:required="required"/>
                        <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
                    </div>
                    
                     <div class="form-group">
                        <label  class="form-label">End Date:</label>
                        <input  type="date" th:field="*{endDate}" class="form-control" th:required="required"/>
                        <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p>
                    </div>
                    
                      <div class="form-group">
                        <label class="form-label"> description:  </label>
                       <textarea rows="5" type="textarea" th:field="*{reason}" class="form-control" th:required="required"></textarea>
                        <p th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}"></p>
                    </div>
                           <div th:if="${#fields.hasErrors()}">
                <div class="alert alert-danger">
                    <p th:each="error : ${#fields.errors('*')}" th:text="${error}"></p>
                </div>
            </div>


                        <button type="submit" class="btn btn-success my-2 mx-auto text-center">Submit</button>

                </form>
      </div>

    </div>
  </div>
</div>