<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/main_header"></header>

<body>
<div class="container bg-light">
  <div th:replace="fragments/header::header('Home')"></div>
  <h1 class="my-4">Employee Details</h1>

  <h3>Details for <span th:text="${employee.firstName} + ' ' + ${employee.lastName}"></span></h3>

  <form th:action="@{update/{id}(id=${employee.id})}" method="post">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName" class="form-control" th:value="${employee.firstName}" required>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName" class="form-control" th:value="${employee.lastName}" required>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" class="form-control" th:value="${employee.email}" required>
    </div>

    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="text" id="phone" name="phone" class="form-control" th:value="${employee.phone}" required>
    </div>

    <div class="form-group">
      <label for="groups">Groups:</label>
      <div th:if="${#lists.isEmpty(employee.groups)}" class="form-control-plaintext text-muted">
        <span>No groups assigned.</span>
      </div>
      <div th:unless="${#lists.isEmpty(employee.groups)}" id="groups" class="form-control-plaintext">
        <ul class="list-unstyled" th:each="groupName : ${employee.groups}">
          <li th:text="${groupName}"></li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="newGroups">Add New Groups:</label>
      <select id="newGroups" name="newGroups" class="form-control" multiple>
        <option value="" disabled>Select one or more groups</option>
        <option th:each="group : ${groups}"
                th:value="${group.name}"
                th:text="${group.name}"></option>
      </select>
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-success">Update</button>
    <a th:href="@{/employees}" class="btn btn-secondary">Back to Employee List</a>
    </div>
  </form>
</div>
</body>
</html>
