<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:replace="fragments/main_header"></header>
<body>
<div class="container bg-light">
  
  <header class="row"  th:fragment="header(activeLink)">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">ASP Project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
        </nav>

    </header>
    <div class="row">
        <div class="d-flex justify-content-center">
        <div class="card bg-light my-4" style="width: 600px;">
            <div class="card-header">
                <h3 class="m-0">Reset Password </h3>
                  
            </div>
            <div class="card-body">
                <form th:object="${loginModel}" th:action="@{/send-otp}"  method="post">                 
                    
                    <div class="form-group">
                        <label class="form-label">User - Name /  Email:  </label>
                        <input type="text" th:field="*{userNameOrEmail}" class="form-control" th:required="required"/>
                          
                    </div>
                            <div th:if="${#fields.hasErrors('global')}">
                             <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
                              </div>          

                 <button type="submit" class="btn btn-success my-2 mx-auto text-center">Send OTP</button>
              
                </form>
            </div>
        </div>

        </div>


    </div>
</div>

</body>
</html>